/* ========= RESET ========== */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #ec008c;
}

img {
  width: 100%;
}

button {
  padding: 4px 16px;
  font: inherit;
  font-weight: 600;
  border-radius: 16px;
}

button:hover {
  cursor: pointer;
}

/* ========= END RESET ========== */


/* ========== COMPONENTS ========== */

.section {
  padding: 96px max(16px, (100vw - 1000px)/2);
}

/* Header and Logo Component */
.header {
  padding: 16px max(16px, (100vw - 1000px)/2);
  background-color: #080a21;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  font-size: 48px;
  font-weight: 900;
}

/* ====== Nav Component Section ===== */
.nav {
  display: flex;
  gap: 16px;
}

ul.nav {
  list-style: none;
}

.nav a {
  color: #ededed;
}

.nav li {
  border-bottom: 2px solid transparent;
}

.nav li:hover {
  border-bottom: 2px solid #ec008c;
}

/* ========= UTILS ========== */
.text-blue {
  color: #00b2d8;
}

.text-pink {
  color: #ec008c;
}

.bg-white {
  background-color: #fff;
}

/* ========= END UTILS ========== */